@charset "UTF-8";
body {
    background-image: url('https://cdn.discordapp.com/attachments/770037504015335505/776830736622944256/20190506114952_31829.jpg');
    /* wall 1 ak https://pbs.twimg.com/media/DS-CPryVwAE_N5Y.jpg:large */
    /*wall 2 ak https://images4.alphacoders.com/103/thumb-1920-1034459.jpg*/
    background-attachment: fixed;
    z-index: 0;
    background-size: auto;
}

.button {
    float: top left;
    width: 3%;
    z-index: 1;
    position: fixed;
    border: 1.5px solid black;
    border-radius: 50%;
}

img.IMG_MS {
    width: 30%;
    height: auto;
    visibility: hidden;
    position: fixed;
    box-shadow: 8px 3px 12px black;
    transition: visibility 0.01s, opacity 0.7s;
    opacity: 0;
    z-index: 4;
    right: 550px;
    top: 250px;
}

a:hover img.IMG_MS {
    visibility: visible;
    opacity: 1;
}

img.IMG_MS:hover {
    visibility: hidden !important;
    opacity: 0 !important;
}

img.event {
    width: 50%;
    height: auto;
    visibility: hidden;
    position: fixed;
    box-shadow: 8px 3px 12px black;
    transition: visibility 0.01s, opacity 0.7s;
    opacity: 0;
    z-index: 4;
    right: 10px;
    top: 250px;
    border: 2px solid black;
    border-radius: 15%;
}

a:hover img.event {
    visibility: visible;
    opacity: 1;
}

img.event:hover {
    visibility: hidden !important;
    opacity: 0 !important;
}

#menu-demo2,
#menu-demo2 ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    z-index: 5;
}

#menu-demo2 li {
    display: inline-block;
    position: relative;
    border-radius: 8px 8px 0 0;
}

#menu-demo2 ul li {
    display: inherit;
    border-radius: 0;
}

#menu-demo2 ul li:hover {
    border-radius: 0;
}

#menu-demo2 ul li:last-child {
    border-radius: 0 0 8px 8px;
}

#menu-demo2 ul {
    position: absolute;
    z-index: 1000;
    display: none;
    left: 0;
    right: 0;
    overflow: hidden;
}

#menu-demo2 li:hover ul {
    display: block;
}


/* background des liens menus */

#menu-demo2 li:first-child {
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}

#menu-demo2 li:nth-child(2) {
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}

#menu-demo2 li:nth-child(3) {
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}

#menu-demo2 li:nth-child(4) {
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}

#menu-demo2 li:last-child {
    background-color: #729EBF;
    background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}


/* background des liens sous menus */

#menu-demo2 li:first-child li {
    background: #333A40;
}

#menu-demo2 li:nth-child(2) li {
    background: #333A40;
}

#menu-demo2 li:nth-child(3) li {
    background: #333A40;
}

#menu-demo2 li:nth-child(4) li {
    background: #333A40;
}

#menu-demo2 li:last-child li {
    background: #333A40;
}


/* background des liens menus et sous menus au survol */

#menu-demo2 li:first-child:hover,
#menu-demo2 li:first-child li:hover {
    background: #729EBF;
}

#menu-demo2 li:nth-child(2):hover,
#menu-demo2 li:nth-child(2) li:hover {
    background: #729EBF;
}

#menu-demo2 li:nth-child(3):hover,
#menu-demo2 li:nth-child(3) li:hover {
    background: #729EBF;
}

#menu-demo2 li:nth-child(4):hover,
#menu-demo2 li:nth-child(4) li:hover {
    background: #729EBF;
}

#menu-demo2 li:last-child:hover,
#menu-demo2 li:last-child li:hover {
    background: #729EBF;
}


/* les a href */

#menu-demo2 a {
    text-decoration: none;
    display: block;
    padding: 8px 32px;
    color: #fff;
    font-family: arial;
}

#menu-demo2 ul a {
    padding: 8px 0;
}

#menu-demo2 li:hover li a {
    color: #fff;
    text-transform: inherit;
}

#menu-demo2 li:hover a,
#menu-demo2 li li:hover a {
    color: #000;
}

.ref {
    color: rgba(0, 0, 0);
    margin-left: 0%;
    font-size: 150%;
    position: relative;
    height: auto;
    z-index: 2;
    border: 2px solid rgb(255, 255, 255);
    opacity: 0.7;
}

.ref {
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.a {
    visibility: hidden;
    position: fixed;
    box-shadow: 8px 3px 12px black;
    transition: visibility 0.01s, opacity 0.7s;
    opacity: 0;
    text-align: center;
    max-width: 550px;
    max-height: 450px;
    font-size: 25px;
    color: black;
}

div.e1:hover .a {
    visibility: visible;
    opacity: 1;
}

a.ref:hover {
    box-shadow: 8px 3px 12px black;
    opacity: 1;
}

.topic {
    position: fixed;
    margin-top: 100px;
    margin-left: 20px;
}

a.bas {
    bottom: 10px;
    right: 10px;
    position: fixed;
    z-index: 2;
    color: red;
}