@charset "UTF-8";
@media all and (min-width: 1920px) {
    body {
        background-image: url('https://cdn.discordapp.com/attachments/673566076658909205/770034883451551824/backnologo.jpg');
        /* wall 1 ak https://pbs.twimg.com/media/DS-CPryVwAE_N5Y.jpg:large */
        /*wall 2 ak https://images4.alphacoders.com/103/thumb-1920-1034459.jpg*/
        background-attachment: fixed;
        z-index: 0;
        background-size: auto;
    }
    img.logo {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }
    img.blake2 {
        width: 30%;
        height: auto;
        visibility: hidden;
        position: fixed;
        box-shadow: 8px 3px 12px black;
        transition: visibility 0.01s, opacity 0.7s;
        opacity: 0;
        z-index: 4;
        right: 550px;
        top: 250px;
    }
    a:hover img.blake2 {
        visibility: visible;
        opacity: 1;
    }
    img.blake2:hover {
        visibility: hidden !important;
        opacity: 0 !important;
    }
    img.event {
        width: 50%;
        height: auto;
        visibility: hidden;
        position: fixed;
        box-shadow: 8px 3px 12px black;
        transition: visibility 0.01s, opacity 0.7s;
        opacity: 0;
        z-index: 4;
        right: 10px;
        top: 250px;
        border: 2px solid black;
        border-radius: 15%;
    }
    a:hover img.event {
        visibility: visible;
        opacity: 1;
    }
    img.event:hover {
        visibility: hidden !important;
        opacity: 0 !important;
    }
    #menu-demo2,
    #menu-demo2 ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        z-index: 5;
    }
    #menu-demo2 li {
        display: inline-block;
        position: relative;
        border-radius: 8px 8px 0 0;
    }
    #menu-demo2 ul li {
        display: inherit;
        border-radius: 0;
    }
    #menu-demo2 ul li:hover {
        border-radius: 0;
    }
    #menu-demo2 ul li:last-child {
        border-radius: 0 0 8px 8px;
    }
    #menu-demo2 ul {
        position: absolute;
        z-index: 1000;
        display: none;
        left: 0;
        right: 0;
        overflow: hidden;
    }
    #menu-demo2 li:hover ul {
        display: block;
    }
    /* background des liens menus */
    #menu-demo2 li:first-child {
        background-color: #729EBF;
        background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }
    #menu-demo2 li:nth-child(2) {
        background-color: #729EBF;
        background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }
    #menu-demo2 li:nth-child(3) {
        background-color: #729EBF;
        background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }
    #menu-demo2 li:nth-child(4) {
        background-color: #729EBF;
        background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }
    #menu-demo2 li:last-child {
        background-color: #729EBF;
        background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }
    /* background des liens sous menus */
    #menu-demo2 li:first-child li {
        background: #333A40;
    }
    #menu-demo2 li:nth-child(2) li {
        background: #333A40;
    }
    #menu-demo2 li:nth-child(3) li {
        background: #333A40;
    }
    #menu-demo2 li:nth-child(4) li {
        background: #333A40;
    }
    #menu-demo2 li:last-child li {
        background: #333A40;
    }
    /* background des liens menus et sous menus au survol */
    #menu-demo2 li:first-child:hover,
    #menu-demo2 li:first-child li:hover {
        background: #729EBF;
    }
    #menu-demo2 li:nth-child(2):hover,
    #menu-demo2 li:nth-child(2) li:hover {
        background: #729EBF;
    }
    #menu-demo2 li:nth-child(3):hover,
    #menu-demo2 li:nth-child(3) li:hover {
        background: #729EBF;
    }
    #menu-demo2 li:nth-child(4):hover,
    #menu-demo2 li:nth-child(4) li:hover {
        background: #729EBF;
    }
    #menu-demo2 li:last-child:hover,
    #menu-demo2 li:last-child li:hover {
        background: #729EBF;
    }
    /* les a href */
    #menu-demo2 a {
        text-decoration: none;
        display: block;
        padding: 8px 32px;
        color: #fff;
        font-family: arial;
    }
    #menu-demo2 ul a {
        padding: 8px 0;
    }
    #menu-demo2 li:hover li a {
        color: #fff;
        text-transform: inherit;
    }
    #menu-demo2 li:hover a,
    #menu-demo2 li li:hover a {
        color: #000;
    }
    @keyframes menu {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    ul.menu {
        animation: menu 5s;
        animation-delay: 0s;
        animation-fill-mode: both;
    }
    #slideshow {
        position: fixed;
        /*le parent positionné*/
        width: 500px;
        /*limite en largeur (1 élément du slideshow)*/
        height: 1000px;
        /*limite en hauteur*/
        overflow: hidden;
        /*on cache ce qui déborde*/
    }
    .sContent {
        display: inline-block;
    }
    #sContent li {
        display: inline-block;
        /*on aligne les éléments du slideshow*/
    }
    #sContent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        animation-name: AutoSlide;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-delay: 3s;
    }
    article img {
        width: 500px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    article img.circle {
        filter: grayscale(0) blur(0px);
        transition: all 0.5s ease;
    }
    article a:hover img.circle {
        width: 800px;
        height: auto;
        transform: rotate(720deg);
        border-radius: 1px 1px 60px goldenrod;
        margin-left: auto;
        margin-top: auto;
    }
    article img.zoom {
        visibility: hidden;
    }
    /*rubrique 1*/
    .main {
        position: relative;
        width: 35%;
        height: auto;
        left: 230px;
        z-index: 2;
        border: 2px solid darkred;
        opacity: 0.3;
        float: left;
    }
    a:hover img.main {
        opacity: 1;
        box-shadow: 0px 0px 60px goldenrod;
    }
    /* rubrique 2*/
    .main2 {
        position: relative;
        width: 35%;
        height: auto;
        right: 230px;
        z-index: 2;
        border: 2px solid darkred;
        opacity: 0.3;
        float: right;
    }
    a:hover img.main2 {
        opacity: 1;
        box-shadow: 0px 0px 60px goldenrod;
    }
    /* rubrique 3*/
    .main3 {
        top: 50px;
        position: relative;
        width: 35%;
        height: auto;
        right: 230px;
        z-index: 2;
        border: 2px solid darkred;
        opacity: 0.3;
        float: right;
    }
    a:hover img.main3 {
        opacity: 1;
        box-shadow: 0px 0px 60px goldenrod;
    }
    /*rubrique 4*/
    .main4 {
        top: 50px;
        position: relative;
        width: 35%;
        height: auto;
        left: 230px;
        z-index: 2;
        border: 2px solid darkred;
        opacity: 0.3;
        float: left;
    }
    a:hover img.main4 {
        opacity: 1;
        box-shadow: 0px 0px 60px goldenrod;
    }
    /*rubrique 5*/
    .main5 {
        top: 100px;
        position: relative;
        width: 35%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        display: block;
        z-index: 2;
        border: 2px solid darkred;
        opacity: 0.3;
    }
    a:hover img.main5 {
        opacity: 1;
        box-shadow: 0px 0px 60px goldenrod;
    }
}


/*taille ecran entre 1080 et 1920*/

@media all and (min-width: 1220px) and (max-width:1919px) {
    body {
        background-image: url('https://cdn.discordapp.com/attachments/673566076658909205/770034883451551824/backnologo.jpg');
        /* wall 1 ak https://pbs.twimg.com/media/DS-CPryVwAE_N5Y.jpg:large */
        /*wall 2 ak https://images4.alphacoders.com/103/thumb-1920-1034459.jpg*/
        background-attachment: fixed;
        z-index: 0;
        background-size: auto;
    }
    img.logo {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }
    img.blake2 {
        width: 30%;
        height: auto;
        visibility: hidden;
        position: fixed;
        box-shadow: 8px 3px 12px black;
        transition: visibility 0.01s, opacity 0.7s;
        opacity: 0;
        z-index: 4;
        right: 550px;
        top: 250px;
    }
    a:hover img.blake2 {
        visibility: visible;
        opacity: 1;
    }
    img.blake2:hover {
        visibility: hidden !important;
        opacity: 0 !important;
    }
    img.event {
        width: 50%;
        height: auto;
        visibility: hidden;
        position: fixed;
        box-shadow: 8px 3px 12px black;
        transition: visibility 0.01s, opacity 0.7s;
        opacity: 0;
        z-index: 4;
        right: 10px;
        top: 250px;
        border: 2px solid black;
        border-radius: 15%;
    }
    a:hover img.event {
        visibility: visible;
        opacity: 1;
    }
    img.event:hover {
        visibility: hidden !important;
        opacity: 0 !important;
    }
    #menu-demo2,
    #menu-demo2 ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        z-index: 5;
    }
    #menu-demo2 li {
        display: inline-block;
        position: relative;
        border-radius: 8px 8px 0 0;
    }
    #menu-demo2 ul li {
        display: inherit;
        border-radius: 0;
    }
    #menu-demo2 ul li:hover {
        border-radius: 0;
    }
    #menu-demo2 ul li:last-child {
        border-radius: 0 0 8px 8px;
    }
    #menu-demo2 ul {
        position: absolute;
        z-index: 1000;
        display: none;
        left: 0;
        right: 0;
        overflow: hidden;
    }
    #menu-demo2 li:hover ul {
        display: block;
    }
    /* background des liens menus */
    #menu-demo2 li:first-child {
        background-color: #729EBF;
        background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }
    #menu-demo2 li:nth-child(2) {
        background-color: #729EBF;
        background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }
    #menu-demo2 li:nth-child(3) {
        background-color: #729EBF;
        background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }
    #menu-demo2 li:nth-child(4) {
        background-color: #729EBF;
        background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }
    #menu-demo2 li:last-child {
        background-color: #729EBF;
        background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
        background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
    }
    /* background des liens sous menus */
    #menu-demo2 li:first-child li {
        background: #333A40;
    }
    #menu-demo2 li:nth-child(2) li {
        background: #333A40;
    }
    #menu-demo2 li:nth-child(3) li {
        background: #333A40;
    }
    #menu-demo2 li:nth-child(4) li {
        background: #333A40;
    }
    #menu-demo2 li:last-child li {
        background: #333A40;
    }
    /* background des liens menus et sous menus au survol */
    #menu-demo2 li:first-child:hover,
    #menu-demo2 li:first-child li:hover {
        background: #729EBF;
    }
    #menu-demo2 li:nth-child(2):hover,
    #menu-demo2 li:nth-child(2) li:hover {
        background: #729EBF;
    }
    #menu-demo2 li:nth-child(3):hover,
    #menu-demo2 li:nth-child(3) li:hover {
        background: #729EBF;
    }
    #menu-demo2 li:nth-child(4):hover,
    #menu-demo2 li:nth-child(4) li:hover {
        background: #729EBF;
    }
    #menu-demo2 li:last-child:hover,
    #menu-demo2 li:last-child li:hover {
        background: #729EBF;
    }
    /* les a href */
    #menu-demo2 a {
        text-decoration: none;
        display: block;
        padding: 8px 32px;
        color: #fff;
        font-family: arial;
    }
    #menu-demo2 ul a {
        padding: 8px 0;
    }
    #menu-demo2 li:hover li a {
        color: #fff;
        text-transform: inherit;
    }
    #menu-demo2 li:hover a,
    #menu-demo2 li li:hover a {
        color: #000;
    }
    @keyframes menu {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    ul.menu {
        animation: menu 5s;
        animation-delay: 0s;
        animation-fill-mode: both;
    }
    #slideshow {
        position: fixed;
        /*le parent positionné*/
        width: 50%;
        /*limite en largeur (1 élément du slideshow)*/
        height: auto;
        /*limite en hauteur*/
        overflow: hidden;
        /*on cache ce qui déborde*/
    }
    .sContent {
        display: inline-block;
    }
    #sContent li {
        display: inline-block;
        /*on aligne les éléments du slideshow*/
    }
    #sContent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        animation-name: AutoSlide;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-delay: 3s;
    }
    article img {
        width: 50%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    article img.circle {
        filter: grayscale(0) blur(0px);
        transition: all 0.5s ease;
    }
    article a:hover img.circle {
        width: 50%;
        height: auto;
        transform: rotate(720deg);
        border-radius: 1px 1px 60px goldenrod;
        margin-left: auto;
        margin-top: auto;
    }
    article img.zoom {
        visibility: hidden;
    }
    /*rubrique 1*/
    .main {
        position: relative;
        width: 45%;
        height: auto;
        z-index: 2;
        border: 2px solid darkred;
        opacity: 0.3;
        float: left;
    }
    a:hover img.main {
        opacity: 1;
        box-shadow: 0px 0px 60px goldenrod;
    }
    /* rubrique 2*/
    .main2 {
        position: relative;
        width: 45%;
        height: auto;
        z-index: 2;
        border: 2px solid darkred;
        opacity: 0.3;
        float: right;
    }
    a:hover img.main2 {
        opacity: 1;
        box-shadow: 0px 0px 60px goldenrod;
    }
    /* rubrique 3*/
    .main3 {
        top: 50px;
        position: relative;
        width: 45%;
        height: auto;
        z-index: 2;
        border: 2px solid darkred;
        opacity: 0.3;
        float: right;
    }
    a:hover img.main3 {
        opacity: 1;
        box-shadow: 0px 0px 60px goldenrod;
    }
    /*rubrique 4*/
    .main4 {
        top: 50px;
        position: relative;
        width: 45%;
        height: auto;
        z-index: 2;
        border: 2px solid darkred;
        opacity: 0.3;
        float: left;
    }
    a:hover img.main4 {
        opacity: 1;
        box-shadow: 0px 0px 60px goldenrod;
    }
    /*rubrique 5*/
    .main5 {
        top: 100px;
        position: relative;
        width: 45%;
        height: auto;
        z-index: 2;
        border: 2px solid darkred;
        opacity: 0.3;
    }
    a:hover img.main5 {
        opacity: 1;
        box-shadow: 0px 0px 60px goldenrod;
    }
    .topic {
        width: 75em;
        border: 0px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}